  body {
    align-items:center;
    display:flex;
    flex-direction:column;
    font-family: "Cabin";
  }

  .map-container {
    display:flex;
    max-width: 2000px;
    flex-wrap:wrap;
  }

  .bars  {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }

/* TEXT */

  .title {
    font-family: 'Cabin';
    font-size:large;
  }

  .title.subtitle {
    font-size:medium;
    font-style:italic;
  }

  .text.legend {
    font-size:medium;
  }
  
  .text.caption {
    font-size: smaller;
    font-style: italic;
  }

  .text.axis {
    font-size:smaller;
  }

 /* RUG CHARTS */

  /* rect.rug {
    fill: #217FBE;
  } */

  rect.rug.highlight {
    fill: #17E849;
  }

  /* BAR CHARTS */

  rect.bar1 {
    fill: #217FBE;
  }

  /* MAP */

  .highlight {
    fill:#FFD816;
  }


/* lt_blue <- "#217FBE"
lt_orange <- "#FFA220"
lt_pink <- "#E817A9"
lt_yellow <- "#FFD816"
lt_green <- "#17E849" */