  body {
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    font-family: "Lato";
  }

  #slider-label {
    align-self: center;
    font-size:large;
  }


  .map-container {
    display:flex;
    /* max-width: 3000px; */
    flex-wrap:wrap;
    align-items: center;
  }

  .bars  {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: space-around;
    max-height: 500px;
  }

/* TEXT */

  .title {
    font-family: 'Cabin';
    font-size:large;
    align-self: center;
  }

  .title.bar {
    font-size:medium;
    font-style: normal;
  }

  .text {
    font-family: 'Cabin';
  }

  .text.legend {
    font-size:medium;
  }

  .text.legend.title {
    font-family: 'Cabin SemiBold'; 
  }
  
  .text.caption {
    font-size: smaller;
    font-style: italic;
  }

  .text.axis {
    font-size:smaller;
  }

  .link {
    color: blue;
  }

 /* RUG CHARTS */

  #rug .rect-active {
    opacity: 1;
  }

  rect.rug.highlight {
    fill: #17E849;
  }

  /* BAR CHARTS */

  rect.bar1 {
    fill: #217FBE;
  }

  /* MAP */

  .highlight {
    fill:#17E849;
  }

  .highlight.rug {
    stroke: #17E849;
    stroke-width: 2px;
  }


  .tooltip {
    position: absolute;     
    text-align: center;    
    box-sizing: content-box; 
    padding: 2px;       
    border: 0px;        
    pointer-events: none;
    opacity: 0;
  }

  .tooltip-on {
    position: absolute;     
    text-align: center;    
    box-sizing: content-box; 
    padding: 2px;       
    border: 0px;        
    pointer-events: none;
    background: #ffffff;
    opacity: 0.9;
  }



/* lt_blue <- "#217FBE"
lt_orange <- "#FFA220"
lt_pink <- "#E817A9"
lt_yellow <- "#FFD816"
lt_green <- "#17E849" */